.carouselContainer {
  width: 100%;
  background-color: #121212; /* 背景颜色为黑色 */
}

.swiperContainer {
  width: 100%;
  height: 400px;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.caption h2 {
  margin: 0;
  font-size: 24px;
}

.caption p {
  margin: 5px 0 0;
  font-size: 16px;
}