.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  padding: 10px 20px;
  border-bottom: 1px solid #333;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbarList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin-left: 20px;
}

.navbarLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navbarLink:hover {
  color: #1e90ff;
}

.searchAndAuth {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 5px;
  font-size: 16px;
  margin-right: 20px;
  background-color: #333;
  border: 1px solid #444;
  color: white;
}

.authButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
}

.authButton:hover {
  color: #1e90ff;
}