.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  
  border-bottom: 1px solid #333;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbarList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  
}

.navbarLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navbarLink:hover {
  color: #1e90ff;
}

.searchAndAuth {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 5px;
  font-size: 16px;
  margin-right: 20px;
  background-color: #333;
  border: 1px solid #444;
  color: white;
}

.authButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding-right: 20px;
}

.authButton:hover {
  color: #1e90ff;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .navbarList {
    flex-direction: column;
    width: 100%;
  }

  .navbarItem {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .searchAndAuth {
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
  }

  .searchInput {
    flex-grow: 1;
    margin-right: 10px;
  }

  .authButton {
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }

  .navbarLink {
    font-size: 14px;
  }

  .searchInput {
    font-size: 14px;
    padding: 3px;
  }

  .authButton {
    font-size: 14px;
  }
}