.productDetailContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 80px auto 40px auto;
}

.productLeft {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.productRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.productImageContainer {
  width: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  overflow: hidden; /* 确保图片不会超出容器 */
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain; /* 确保图片保持其比例 */
}

.productDescriptionContainer {
  display: flex;
  flex-direction: column;
}

.productName {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
}

.productDescription {
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #ccc;
}

.productCategories {
  font-size: 1em;
  color: #aaa;
  margin-bottom: 20px;
}

.requirements {
  margin-top: 20px;
}

.requirementsSection {
  display: flex;
  justify-content: space-between;
}

.requirementsColumn {
  flex: 1;
  margin-right: 20px;
}

.requirementsColumn h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.requirementsColumn p {
  font-size: 1em;
  line-height: 1.6;
  color: #ccc;
}

.productPrice {
  font-size: 2em;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
}

.addToCartButton, .purchaseButton {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.addToCartButton:hover, .purchaseButton:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #1e1e1e;
  color: #ccc;
  padding: 20px;
  text-align: center;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.footerLinks a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

.footerLinks a:hover {
  color: #007bff;
}

.footerGames {
  margin-bottom: 20px;
}

.footerGames a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

.footerGames a:hover {
  color: #007bff;
}

.footerLegal {
  font-size: 0.9em;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .productDetailContainer {
    flex-direction: column;
    padding: 10px;
  }

  .productLeft {
    margin-bottom: 20px;
  }

  .productName {
    font-size: 2em;
  }

  .productDescription {
    font-size: 1em;
  }

  .productPrice {
    font-size: 1.5em;
  }

  .footerLinks {
    flex-direction: column;
  }

  .footerLinks a {
    margin-bottom: 10px;
  }
}