.featuredGamesContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  max-width: 80%;
  color: white; /* 字体颜色为白色 */
  height: 100%;
  overflow-x: auto;
}

.gameCard {
  height: 90%;
  max-width: 100%; /* 调整最小宽度以适应小屏幕 */
  flex: 1;
  border-radius: 8px; /* 添加圆角 */
  box-sizing: border-box; /* 确保内边距包含在总宽度内 */
  cursor: pointer; /* 添加鼠标指针 */
  transition: transform 0.2s, box-shadow 0.2s; /* 添加过渡效果 */
}

.gameCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* 添加悬停效果的阴影 */
}

.gameImage {
  width: 100%;
  height: 270px;
  border-top-left-radius: 8px; /* 确保图片的圆角与卡片一致 */
  border-top-right-radius: 8px;
}

.gameInfo {
  height: 30%;
  padding: 20px;
  box-sizing: border-box; /* 确保内边距包含在总宽度内 */
}

.gameInfo h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  word-wrap: break-word; /* 确保长单词在小屏幕上换行 */
}

.gameInfo p {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #888;
  word-wrap: break-word; /* 确保长单词在小屏幕上换行 */
}

.actionText {
  color: #1e90ff;
  font-size: 14px;
  margin-top: 10px;
  word-wrap: break-word; /* 确保长单词在小屏幕上换行 */
}

/* 响应式设计 */
@media (max-width: 1024px) {
  .gameCard {
    width: 30%; /* 在中等屏幕上每行显示三个卡片 */
    min-width: 30%; /* 确保卡片占满宽度 */
  }
}

@media (max-width: 768px) {
  .gameCard {
    width: 30%; /* 在小屏幕上每行显示三个卡片 */
    min-width: 30%; /* 确保卡片占满宽度 */
  }

  .gameInfo {
    padding: 10px; /* 减小内边距以适应小屏幕 */
  }

  .gameInfo h3 {
    font-size: 16px; /* 调整标题字体大小 */
  }

  .gameInfo p {
    font-size: 12px; /* 调整描述文本字体大小 */
  }

  .actionText {
    font-size: 12px; /* 调整动作文本字体大小 */
  }
}

@media (max-width: 480px) {

  .featuredGamesContainer {
    
    max-width: 96%;
    
  }

  .gameCard {
    width: 100%; /* 在超小屏幕上每行显示一个卡片 */
    min-width: 100%; /* 确保卡片占满宽度 */
  }
}