body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.navbarLink {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 0;
}

.navbarLink:hover {
  color: #1e90ff;
  cursor: pointer; /* 鼠标悬停时的指针形状 */
}

.rightSection {
  display: flex;
  align-items: center;
}

.iconButton {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer; /* 鼠标悬停时的指针形状 */
}

.iconButton:hover {
  color: #1e90ff;
}

.authButton {
  background-color: #1a1a1a;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; /* 鼠标悬停时的指针形状 */
}

.authButton:hover {
  background-color: #1c7ed6;
}

.authButtonMobile {
  display: none;
}

.userSection {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  transition: border-radius 0.3s ease;
}

.avatar:hover {
  border-radius: 10%;
  cursor: pointer; /* 鼠标悬停时的指针形状 */
}

.dropdown {
  position: relative;
}

.dropdownButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer; /* 鼠标悬停时的指针形状 */
  display: flex;
  align-items: center;
}

.arrowDown {
  margin-left: 5px;
}

.dropdownContent {
  max-height: 0;
  overflow: hidden;
  background-color: #1a1a1a;
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 100%;
  transition: max-height 0.3s ease-out;
  position: absolute;
  top: 100%;
  left: 0;
}

.showDropdown {
  max-height: 500px; /* 适当调整以适应内容 */
  overflow-y: auto; /* 允许垂直滚动 */
}

.dropdownItem {
  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
  transition: border-radius 0.3s ease;
}

.dropdownItem:hover {
  background-color: #1c7ed6;
  cursor: pointer; /* 鼠标悬停时的指针形状 */
  text-decoration: underline;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .menuToggle {
    display: block;
  }

  .menuToggle:hover {
    background-color: #1a1a1a;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .navLinks.showMenu {
    max-height: 300px; /* Adjust this value according to the content height */
    overflow-y: auto; /* 允许垂直滚动 */
  }

  .navItem {
    margin: 10px ;
    margin-left: 10px;
  }

  .rightSection {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .rightSection .iconButton,
  .rightSection .authButton {
    display: none;
  }

  .leftSection {
    flex: 1;
  }

  .rightSection .menuToggle {
    margin-right: 0;
  }

  .authButtonMobile {
    display: block;
  }

  .userSection {
    display: flex;
    align-items: center;
    position: relative;
  }

  .authButtonMobile .userSection .dropdownButton {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer; /* 鼠标悬停时的指针形状 */
    display: flex;
    align-items: center;
  }

  .authButtonMobile .userSection .dropdownContent {
    position: relative;
    top: auto;
    right: auto;
    background-color: #1a1a1a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%;
  }

  .authButtonMobile .userSection .dropdownItem {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
    transition: border-radius 0.3s ease;
  }

  .authButtonMobile .userSection .dropdownItem:hover {
    background-color: #1c7ed6;
    cursor: pointer;
    text-decoration: underline;
  }

  #userSection {
    display: none;
  }
}

@media (min-width: 769px) {
  .menuToggle {
    display: none;
  }

  .navLinks {
    display: flex;
  }

  .rightSection .iconButton,
  .rightSection .authButton {
    display: flex;
  }

  .rightSection {
    display: flex;
  }

  .authButtonMobile {
    display: none;
  }
}