body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.navbarLink {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 0;
}

.navbarLink:hover {
  color: #1e90ff;
}

.rightSection {
  display: flex;
  align-items: center;
}

.iconButton {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.iconButton:hover {
  color: #1e90ff;
}

.authButton {
  background-color:#1a1a1a;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.authButton:hover {
  background-color: #1c7ed6;
}

.authButtonMobile {
  display: none;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .menuToggle {
    display: block;
  }

  .menuToggle:hover {
    background-color: #1a1a1a;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .navLinks.showMenu {
    max-height: 300px; /* Adjust this value according to the content height */
  }

  .navItem {
    margin: 10px 0;
  }

  .rightSection {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .rightSection .iconButton,
  .rightSection .authButton {
    display: none;
  }

  .leftSection {
    flex: 1;
  }

  .rightSection .menuToggle {
    margin-right: 0;
  }

  .authButtonMobile {
    display: block;
  }
}

@media (min-width: 769px) {
  .menuToggle {
    display: none;
  }

  .navLinks {
    display: flex;
  }

  .rightSection .iconButton,
  .rightSection .authButton {
    display: flex;
  }

  .rightSection {
    display: flex;
  }

  .authButtonMobile {
    display: none;
  }
}