.subscriptionContainer {
  width: 35%;
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: center;
  box-sizing: border-box; /* 确保内边距包含在总宽度内 */
}

.subscriptionHeader {
  font-size: 24px;
  margin-bottom: 10px;
}

.subscriptionText {
  font-size: 16px;
  margin-bottom: 20px;
}

.subscriptionForm {
  display: flex;
  flex-wrap: wrap; /* 在小屏幕上换行 */
  justify-content: center;
  gap: 10px; /* 添加间距 */
  align-items: center; /* 垂直居中对齐 */
  margin-top: 20px; /* 添加额外的上边距 */
}

.subscriptionForm input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1 1 200px; /* 确保输入框在小屏幕上自适应 */
  box-sizing: border-box;
  height: 40px; /* 调整输入框的高度 */
}

.subscriptionForm button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 40px; /* 调整按钮的高度 */
}

.subscriptionForm button:hover {
  background-color: #1c7ed6;
}

/* 响应式设计 */
@media (max-width: 576px) {
  .subscriptionContainer {
    width: 90%; /* 在小屏幕上增加容器宽度 */
  }

  .subscriptionHeader {
    font-size: 20px;
  }

  .subscriptionText {
    font-size: 14px;
  }

  .subscriptionForm {
    flex-direction: column; /* 在小屏幕上垂直排列 */
    align-items: stretch;
  }

  .subscriptionForm input[type="email"] {
    height: 10px;
    flex: 1 1 20px;
  }

  .subscriptionForm input[type="email"], .subscriptionForm button {
    width: 100%; /* 确保输入框和按钮占满宽度 */
    height: 36px; /* 调整输入框和按钮的高度 */
  }
}