.upcomingDiscountContainer {
  width: 100%;
  max-width:80%;
  margin: 40px auto;
  padding: 0px;
  background-color: black; /* 背景颜色为深色 */
  color: white; /* 字体颜色为白色 */
}

.discountContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateSection {
  text-align: center;
  padding: 20px;
}

.dateSection p {
  margin: 0;
}

.date {
  font-size: 48px;
  font-weight: bold;
  color: #ff4c4c; /* 日期颜色为红色 */
}

.month {
  font-size: 24px;
  color: #888; /* 月份颜色为灰色 */
}

.imageSection img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.textSection {
  text-align: right;
  padding: 20px;
}

.textSection h3 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.textSection p {
  font-size: 16px;
  margin: 0 0 20px 0;
}

.subscribeButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4c4c; /* 按钮颜色为红色 */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.subscribeButton:hover {
  background-color: #ff7878; /* 按钮悬停颜色 */
}

@media (max-width: 480px) {
  .upcomingDiscountContainer {
     max-width: 96%;
  }
}