.password_input_container {
  position: relative;
  width: 300px;
}

.password_input {
  padding: 10px;
  padding-right: 40px; /* 留出空间给图标 */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input::-ms-reveal {
  display: none; /* 隐藏微软输入法的“显示密码”按钮 */
}

.password_toggle_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}