.profileContainer {
  display: flex;
  justify-content: center; /* 水平居中 */
  width: 100%;
}

.profileContent {
  width: 80%; /* 占据页面 80% 的宽度 */
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; /* 确保 padding 不会影响宽度 */
}

.fieldGroup {
  margin-bottom: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field label {
  margin-bottom: 5px;
}

.field input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.saveButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.saveButton:hover {
  background-color: #0056b3;
}

.passwordSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.passwordShow {
  display: flex;
  flex-direction: column;
}

.passwordButton {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: rgb(20, 20, 20);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  letter-spacing: 0.014em;
  line-height: 1.43;
  position: relative;
  border-radius: 4px;
  padding: 0px;
}

.passwordField {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.passwordField input {
  flex-grow: 1;
}

.passwordField .togglePassword {
  flex-basis: 10%; /* 占据输入框宽度的10% */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.passwordGuidelines {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  color: #555;
}

