.allProductContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 90%;
    margin: 80px auto 40px auto;
  }
  
  .filterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filterInput, .filterSelect {
    background-color: #2e2e2e;
    border: none;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .priceFilter {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .priceRange {
    width: 200px;
  }
  
  .productList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .productCard {
    background-color: #2e2e2e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .productCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  .productImage {
    width: 100%;
    height: 220px;
  }
  
  .productInfo {
    padding: 10px;
    color: #fff;
  }
  
  .productInfo h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .productInfo p {
    margin: 5px 0 0 0;
    font-size: 1em;
    color: #007bff;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pageButton, .activePage {
    background-color: #2e2e2e;
    border: none;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .activePage {
    background-color: #007bff;
  }
  
  .pageButton:hover, .activePage:hover {
    background-color: #0056b3;
  }
  
  /* 响应式设计 */
  @media (max-width: 768px) {
    .filterContainer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .productCard {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .productCard {
      width: calc(100% - 20px);
    }
  }