/* src/Login.module.css */
.loginBody {
  margin: 0;
  padding: 0;
  height: 100vh; /* 覆盖整个视口高度 */
  width: 100%;
  background: #1b1b1b;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.pageContainer {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 15%;
}

.loginForm {
  flex: 1;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #3b3b3b;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-sizing: border-box;
}

.input::placeholder {
  color: #aaa;
}

.button {
  width: 25%;
  padding: 10px;
  background: linear-gradient(to right, #3CA2F1, #2460D0);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(#4a90e2, #357ab8);
}

.error {
  margin-top: -15px;
  margin-bottom: 15px;
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
}

.success {
  margin-top: -15px;
  margin-bottom: 15px;
  color: #2ecc71;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .pageContainer {
    margin-left: 5%;
  }
}

.signup {
  text-align: center;
  color: #777;
}

.signup a {
  color: #4a90e2;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signup a:hover {
  color: #357ab8;
}